{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        Уверенный пользователь Word
      </li>
    </ul>
  </aside>
    <article class="col-12 col-md-9">
    <p>При работе с моим первым минипроектом Yatube <br>
      я привык работать с GitBash, получил базовое <br>
      представление о работе SQL, верстке страниц в html, <br>
      а также о том, как работать с Django</p>
    </article>
</div>
{% endblock %}