{% extends 'base.html' %} 
{% block title %} <h1> Аффтар {{ author }} </h1> {% endblock %} 
{% block content %} 
{% load thumbnail %} 

<div class="mb-5">
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ posts_count }}</h3>
  {% if author.following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div>
  <h1>Все посты пользователя {{ author.get_full_name }}  </h1> 
    <h3>Всего постов: {{ post_amount }} </h3> 
{% for post in page_obj %} 
    <article> 
      <ul> 
        <li> 
            <a href="{% url 'posts:profile' post.author.username %}"> Все посты пользователя: {{ post.author }}</a> 
        </li> 
        <li> 
          Дата публикации: {{ post.pub_date|date:"d E Y" }} 
        </li> 
      </ul> 
          <p>{{ post.text }}</p>
                 {% thumbnail post.image "380x220" crop="center" upscale=True as im %}
                      <img class="card-img my-2" src="{{ im.url }}">
                    {% endthumbnail %}
          <a href="{% url 'posts:post_detail' post.id %}"> Подробная информация </a> 
    </article> 
{% if post.group %} 
  <a href="{% url 'posts:group_posts' post.group.slug %}"> Все записи группы: {{ post.group.title }}</a> 
{% endif %} 
{% if not forloop.last %}<hr>{% endif %} 
{% endfor %} 
{% include 'posts/includes/paginator.html' %} 
{% endblock %} 